language: c

cache:
  apt: true
  directories:
    - $HOME/Library/Caches/Homebrew

addons:
  apt:
    sources:
      - sourceline: 'ppa:ondrej/php'
    packages:
      - libicu-dev
      - libmcrypt-dev
      - libonig-dev
      - libtidy-dev
      - libzip-dev
      - libjpeg-dev
      - re2c
    update: true
  homebrew:
    packages:
      - icu4c
      - libmcrypt
      - libxml2
      - libzip
      - libjpeg
      - oniguruma
      - openssl
      - python
      - re2c
      - krb5
      - libedit
    update: true

matrix:
  include:
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.2.17
      addons:
        apt:
          packges:
            - php5-cli
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.3.29
      addons:
        apt:
          packges:
            - php5-cli
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.4.45
      addons:
        apt:
          packges:
            - php5-cli
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.5.38
      addons:
        apt:
          packges:
            - php5-cli
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.6.40
      addons:
        apt:
          packges:
            - php5-cli
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.0.33
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.1.33
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.2.25
    - os: linux
      dist: trusty
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.3.12
    - os: linux
      dist: xenial
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.4.0
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.3.29
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.4.45
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.5.38
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=5.6.40
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.0.33
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.1.33
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.2.25
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.3.12
    - os: osx
      osx_image: xcode9.4
      env:
        - PHP_BUILD_EXTRA_MAKE_ARGUMENTS="-j2"
        - DEFINITION=7.4.0

before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        if [[ "$DEFINITION" =~ ^("5.2.".*)$ ]]; then
            export PHP_BUILD_CONFIGURE_OPTS="--with-libdir=lib/x86_64-linux-gnu"
        fi
        if [[ "$DEFINITION" =~ ^("5.2.".*|"5.3.".*)$ ]]; then
            sudo apt-get install -y autoconf2.13
            export PHP_AUTOCONF=/usr/bin/autoconf2.13
        fi
        if [[ "$DEFINITION" =~ ^("7.3.".*)$ ]]; then
            export PHP_BUILD_CONFIGURE_OPTS="--without-libzip"
        fi
    fi
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        if [[ "$DEFINITION" =~ ^("5.3.".*)$ ]]; then
            brew install autoconf@2.13
            export PHP_AUTOCONF=$(brew --prefix autoconf@2.13)/bin/autoconf213
            export LIBS="-lssl -lcrypto"
        fi
    fi
  - |
    if [[ "$DEFINITION" =~ ^("5.".*)$ ]]; then
        if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            set -xe \
              && mkdir -p /tmp/openssl1.0 \
              && cd /tmp/openssl1.0 \
              && curl -Ls https://github.com/openssl/openssl/archive/OpenSSL_1_0_2t.tar.gz \
                | tar xzC /tmp/openssl1.0 --strip-components=1 \
              && ./configure --prefix=/usr/local/opt/openssl@1.0 no-ssl2 no-ssl3 no-zlib shared enable-cms darwin64-x86_64-cc enable-ec_nistp_64_gcc_128 \
              && make depend \
              && make \
              && make install_sw \
              && cd $TRAVIS_BUILD_DIR
            export PHP_BUILD_CONFIGURE_OPTS="$PHP_BUILD_CONFIGURE_OPTS --with-openssl=/usr/local/opt/openssl@1.0"
        fi
    fi
    if [[ "$DEFINITION" =~ ^("7.4.".*)$ ]]; then
        if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
            set -xe \
              && mkdir -p /tmp/oniguruma \
              && cd /tmp/oniguruma \
              && curl -Ls https://github.com/kkos/oniguruma/releases/download/v6.9.4/onig-6.9.4.tar.gz \
                | tar xzC /tmp/oniguruma --strip-components=1 \
              && ./configure --prefix=/usr/local \
              && make -j $(nproc) \
              && sudo make install \
              && cd $TRAVIS_BUILD_DIR
        fi
        if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            export PKG_CONFIG_PATH="$(brew --prefix krb5)/lib/pkgconfig:$(brew --prefix openssl)/lib/pkgconfig:$(brew --prefix icu4c)/lib/pkgconfig:$(brew --prefix libedit)/lib/pkgconfig"
        fi
    fi
install:
  - git clone https://github.com/sstephenson/bats
  - bats/install.sh $HOME
  - export PATH=$HOME/bin:$HOME/libexec:$PATH
  - bats --version

script:
  - ./run-tests.sh $DEFINITION

after_failure:
  - head -1000 $(ls -r /tmp/php-build*.log | head -n 1)
